* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  /* PRIMARY 1 */

  --color-primary: #2682dd;

  /* PRIMARY 2 */

  /* --color-primary: #6c63ff; */

  --color-success: #00bf8e;
  --color-warning: #f7c94b;
  --color-danger: #f75842;
  --color-danger-variant: rgba(247, 88, 66, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.7);
  --color-black: #000;

  /* SET 1 */
  /* --color-bg: #1f2641;
  --color-bg1: #2e3267;
  --color-bg2: #424890; */

  /* SET 2 */
  --color-bg: #05386b;
  --color-bg1: #06407a;
  --color-bg2: #0c5eb1;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-md: 94%;

  --transition: all 400ms ease;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  color: var(--color-white);
  background: var(--color-bg);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

section {
  padding: 6rem 0;
}

section h2 {
  text-align: center;
  margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

a {
  color: var(--color-white);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.btn {
  display: inline-block;
  background: var(--color-white);
  color: var(--color-black);
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-weight: 500;
  transition: var(--transition);
}

.btn:hover {
  background: transparent;
  color: var(--color-white);
  border-color: var(--color-white);
}

.btn-primary {
  background: var(--color-danger);
  color: var(--color-white);
}

/* ===== NAVBAR ====== */
nav {
  background: transparent;
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 11;
}
/* change navbar styles on scroll using javascript*/
.window-scroll {
  background: var(--color-primary);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  display: none;
}

.nav__menu {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav__menu a {
  font-size: 0.9rem;
  transition: var(--transition);
}

.nav__menu a:hover {
  color: var(--color-bg2);
}

/* ===== HEADER ====== */
header {
  position: relative;
  top: 5rem;
  overflow: hidden;
  height: 70vh;
  margin-bottom: 5rem;
}

.header__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  height: 100%;
}

.header__left p {
  margin: 1rem 0 2.4rem;
}

/* ===== CATEGORIES ====== */
.categories {
  background: var(--color-bg1);
  height: 29rem;
}

.categories h1 {
  line-height: 1;
  margin-bottom: 3rem;
}

.categories__container {
  display: grid;
  grid-template-columns: 40% 60%;
}

.categories__left p {
  margin: 1rem 0 3rem;
}

.categories__left {
  margin-right: 4rem;
}

.categories__right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

.category {
  background: var(--color-bg2);
  width: 25vw;
  padding: 2rem;
  border-radius: 2rem;
  transition: var(--transition);
}

.category:hover {
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.category:nth-child(1) .category__icon {
  background: var(--color-success);
}

.category:nth-child(2) .category__icon {
  background: var(--color-danger);
}

.category__icon {
  background: var(--color-primary);
  padding: 0.7rem;
  border-radius: 0.9rem;
}

.category h5 {
  font-size: 1.5rem;
}

.category p {
  font-size: 0.85rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.category__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ===== VALUES ====== */

.values {
  margin-top: 1rem;
}

.values__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.value {
  background-color: var(--color-bg2);
  text-align: center;
  border: 5px solid transparent;
  transition: var(--transition);
}

.value:hover {
  background: transparent;
  background-color: var(--color-primary);
}

.value__info {
  padding: 2rem;
}

.value__info p {
  margin: 1.2rem 0 2rem;
  font-size: 0.9rem;
}

/* ===== FAQS ====== */

.faqs {
  /* background: var(--color-bg);
  box-shadow: inset 0 0 3rem rgb(0, 0, 0, 0.5); */
}

.faqs__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.faq {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  height: fit-content;
  background: var(--color-primary);
  cursor: pointer;
}

.faq h4 {
  font-size: 1rem;
  line-height: 2.2;
}

.faq__icon {
  align-self: flex-start;
  font-size: 1.2rem;
}

.faq p {
  margin-top: 0.8rem;
  display: none;
}

.faq.open p {
  display: block;
}

/* ===== FOOTER ====== */
footer {
  background: var(--color-bg);
  padding: 2rem;
  font-size: 0.9rem;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.footer__container > div h4 {
  margin-bottom: 1.2rem;
}

.footer_1 p {
  margin: 0 0 2rem;
}

footer ul li {
  margin-bottom: 0.7rem;
}

footer ul li a:hover {
  text-decoration: underline;
}

.footer__socials {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}

/* ===== TEAM ====== */

.team {
  background-color: var(--color-bg1);
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.team__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.team__member {
  background: var(--color-bg2);
  padding: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  position: relative;
  overflow: hidden;
}

.team__member:hover {
  background: transparent;
  border-radius: 0;
}

.team__member-image img {
  filter: saturate(0);
  border-radius: 1rem;
  height: fit-content;
}

.team__member:hover img {
  filter: saturate(1);
}

.team__member-info * {
  text-align: center;
  margin-top: 1.4rem;
}

.team__member-info p {
  color: var(--color-light);
}

.team__member-socials {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -100%;
  display: flex;
  flex-direction: column;
  background: var(--color-primary);
  border-radius: 1rem 0 0 1rem;
  box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
  transition: var(--transition);
}

.team__member-socials a {
  padding: 1rem;
}

.team__member:hover .team__member-socials {
  right: 0;
}

/* ===== CONTACT ====== */
.contact {
  background: var(--color-bg1);
  box-shadow: inset 0 0 3rem rgb(0, 0, 0, 0.5);
}

.contact__container {
  background: var(--color-bg2);
  padding: 4rem;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 4rem;
  height: 30rem;
  margin: 7rem auto;
  border-radius: 1rem;
}

.contact__aside {
  background: var(--color-primary);
  padding: 3rem;
  border-radius: 1rem;
  position: relative;
  bottom: 10rem;
}

.aside__image {
  width: 12rem;
  margin-bottom: 2rem;
}

.contact__aside h2 {
  text-align: left;
  margin-bottom: 1rem;
}

.contact__aside p {
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.contact__details li {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.contact__socials {
  display: flex;
  gap: 0.8rem;
  margin-top: 3rem;
}

.contact__socials a {
  background: var(--color-bg2);
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 0.9rem;
  transition: var(--transition);
}

.contact__socials a:hover {
  background: transparent;
}

/* ===== FORM ====== */
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-right: 4rem;
}

.form__name {
  display: flex;
  gap: 1.2rem;
}

.contact__form input[type="text"] {
  width: 50%;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  background: var(--color-bg);
  color: var(--color-white);
}

.contact__form .btn {
  width: max-content;
  margin-top: 1rem;
  cursor: pointer;
}
